@page "/file/share"
@using Microsoft.AspNetCore.Authorization
@using Nager.Country
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>File-sharing</PageTitle>

<FluentInputFile @ref="@myFileByStream"
                 AnchorId="MyUploadStream"
                 DragDropZoneVisible="false"
                 Mode="InputFileMode.Stream"
                 Multiple="true"
                 MaximumFileSize="@(_maxFileSizeInBytes)"
                 OnInputFileChange="@OnFilesSelectedAsync"/>

<FluentButton Appearance="Appearance.Accent" Id="MyUploadStream">
    Choose files
</FluentButton>

@if (SharedFilesVm.FileProperties.Any())
{
    <FluentTabs>
        <p>File(s) Properties: </p>
        <FluentTab Label="Default">
            <FluentGrid>
                <FluentGridItem xs="12" sm="6" md="4">
                    <FluentTextField @bind-Value="@SharedFilesVm.Tags" Label="Tag(s):"></FluentTextField>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6" md="4">
                    <FluentTextField @bind-Value="@SharedFilesVm.ShareWith" Label="Share with e-mail(s):"></FluentTextField>
                </FluentGridItem>
            </FluentGrid>
        </FluentTab>
        <FluentTab Label="Photographs">
            <FluentGrid>
                <FluentGridItem xs="12" sm="6" md="4">
                    <FluentSelect @bind-Value="@SharedFilesVm.CountryCode"
                                  Label="Country"
                                  Height="300px"
                                  Items="@(new CountryProvider().GetCountries().Select(c => new { c.Alpha2Code, c.CommonName, c.OfficialName }))"
                                  OptionValue="@(c => c.Alpha2Code.ToString())"
                                  OptionText="@(p => p.CommonName + ", " + p.OfficialName)"></FluentSelect>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6" md="4">
                    <FluentTextField @bind-Value="@SharedFilesVm.Region" Label="Region:"></FluentTextField>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6" md="4">
                    <FluentTextField @bind-Value="@SharedFilesVm.City" Label="City:"></FluentTextField>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6" md="4">
                    <FluentDatePicker @bind-Value="@SharedFilesVm.DateCaptured" Label="Date of Capture:" View="CalendarViews.Days"/>
                </FluentGridItem>
            </FluentGrid>
        </FluentTab>
    </FluentTabs>

    <FluentGrid>
        <FluentGridItem xs="12">
            <p>File(s) to upload:</p>
        </FluentGridItem>
        @foreach (var file in SharedFilesVm.FileProperties)
        {
            <FluentGridItem xs="12">
                
                <FluentTextField Label="File name" Minlength="2000" @bind-Value="@file.Name"></FluentTextField>

                <p>Size: @file.FileSize</p>
                
            </FluentGridItem>
        }
    </FluentGrid>

    <FluentButton Appearance="Appearance.Accent" OnClick="@UploadAllButtonClicked">
        Upload files
    </FluentButton>
}