@rendermode InteractiveServer

<div class="navmenu">
    <input type="checkbox" id="navmenu-toggle"/>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="_expanded">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="lists" Icon="@(new Icons.Regular.Size28.List())" IconColor="Color.Accent">Shopping lists</FluentNavLink>
            <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink>
            <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Weather</FluentNavLink>
            <FluentNavLink Href="authenticate" Icon="@(new Icons.Regular.Size20.LockOpen())" IconColor="Color.Accent">Authenticate</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool _expanded = true;

}